<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Remove the dependency on index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
